.tabs{
    text-align: center;
    background-color: transparent;
    width: auto;
    
}
.tabs a{
    color: rgb(8, 8, 8);
    background-image: linear-gradient(rgb(72, 225, 245), rgb(117, 207, 219));
    border-radius: 10px;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
}